# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Entornos
.venv/
venv/
env/
ENV/

# Entorno y secretos
.env
.env.*
!.env.example

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs y BD
*.log
logs/
db/
